body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


//****** Small Mobile View ******

@media (min-width: 320px) and (max-width: 374px) {
  .header-container{
    border-bottom: solid 1px rgba(0, 0, 0, .3);
    padding: 20px;
    padding-bottom: 20px;
    padding-top: 70px;

    // **************** Header Wrapper

    .header-wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      margin-bottom: 30px;

      .dashboard{
        font-size: 1.4rem;
        font-weight: 500;
        margin: 0;
      }

      // .bio-wrapper{
      //   background-color: rgba(255, 255, 255, 1);
      //   display: flex;
      //   height: 30px;
      //   width: 125px;
      //   border-radius: 40px;
      //   align-items: center;
      //   padding: 5px;
      //   justify-content: space-between;
        
      //   .picture{
      //     height: 30px;
      //     width: 30px;
      //     border-radius: 20px;
      //     margin-right: 7px;

      //     .user-image{
      //       width: 100%;
      //       object-fit: cover;
      //       object-position: center;
      //       border-radius: 20px;
      //     }
      //   }

      //   .name{
      //     // background-color: red;
      //     flex: 1;

      //     h3,p{
      //       margin: 0;
      //     }
      //     h3{
      //       font-size: .75rem;
           
      //     }
      //     p{
      //       font-size: .48rem;
      //     }
      //   }

      //   .arrow{
      //     display: flex;
      //     align-items: center;
      //     justify-content: center;
      //     height: 20px;
      //     width: 20px;
      //     border-radius: 20px;
      //     margin: 0;
      //   }
      // }
    }
    

    // ************************************ Search Wrapper

    .search-wrapper{
      display: flex;
      flex-direction: column-reverse;

      .wrapper{
        display:flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        

        .search-input{
          height: 20px;
          flex: 1;
          border: none;
          border-radius: 30px;
          text-indent: 10px;
          padding: 10px;
          background-color: rgba(255, 255, 255, 1);
        }
    
        .circle{
          background-color: rgb(255, 255, 255,);
          width: 40px;
          height: 40px;
          // padding: 10px;
          border: none;
          border-radius: 30px;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;

          img{
            height: 40%;
            opacity: .5;
          }
        }
      }
    }
  }
}

//****** Large Mobile View ******

@media (min-width: 375px) and (max-width: 428px){
  .header-container{
    border-bottom: solid 1px rgba(0, 0, 0, .3);
    padding: 20px;
    padding-bottom: 20px;
    padding-top: 70px;


    // **************** Header Wrapper

    .header-wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      margin-bottom: 30px;

      .dashboard{
        // font-size: 1.7rem;
        font-size: 1.8rem;
        font-weight: 500;
        margin: 0;
      }

      // .bio-wrapper{
      //   background-color: rgba(255, 255, 255, 1);
      //   display: flex;
      //   height: 35px;
      //   width: 160px;
      //   border-radius: 40px;
      //   align-items: center;
      //   padding: 5px;
      //   justify-content: space-between;
        
      //   .picture{
      //     height: 35px;
      //     width: 35px;
      //     border-radius: 20px;
      //     margin-right: 7px;

      //     .user-image{
      //       width: 100%;
      //       object-fit: cover;
      //       object-position: center;
      //       border-radius: 20px;
      //     }
      //   }

      //   .name{
      //     flex: 1;
          
      //     h3,p{
      //       margin: 0;
      //     }
      //     h3{
      //       font-size: .9rem;
      //     }
      //     p{
      //       font-size: .65rem;
      //       color: rgba($color: #292D32, $alpha: .6);
      //     }
      //   }

      //   .arrow{
      //     display: flex;
      //     align-items: center;
      //     justify-content: center;
      //     height: 20px;
      //     width: 20px;
      //     border-radius: 20px;
      //     margin: 0;
      //   }
      // }
    }
    

    // ************************************ Search Wrapper

    .search-wrapper{
      display: flex;
      flex-direction: column-reverse;

      .wrapper{
        display:flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        

        .search-input{
          height: 20px;
          // width: 290px;
          flex: 1;
          border: none;
          border-radius: 30px;
          text-indent: 10px;
          padding: 10px;
          background-color: rgba(255, 255, 255, 1);
        }
    
        .circle{
          background-color: rgb(255, 255, 255,);
          width: 40px;
          height: 40px;
          // padding: 10px;
          border: none;
          border-radius: 30px;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;

          img{
            height: 40%;
            opacity: .5;
          }
        }
      }
    }
  }
}

//****** Desktop View ******

@media (min-width: 1200px) {
  .header-container{
    border-bottom: solid 1px rgba(0, 0, 0, .3);
    padding: 20px 40px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 30px;
    // padding-top: 50px;

    // **************** Header Wrapper

    .header-wrapper{
      display: flex;
      align-items: center;
      margin: 0;
      gap: 30px;

      .dashboard{
        font-weight: 500;
        margin: 0;
        font-size: 2rem;
      }

      // .bio-wrapper{
      //   background-color: rgba(255, 255, 255, 1);
      //   display: flex;
      //   height: 30px;
      //   width: 160px;
      //   border-radius: 40px;
      //   align-items: center;
      //   justify-content: space-between;
      //   padding: 5px;
        
      //   .picture{
      //     height: 30px;
      //     width: 30px;
      //     border-radius: 20px;
      //     margin-right: 7px;

      //     .user-image{
      //       width: 100%;
      //       object-fit: cover;
      //       object-position: center;
      //       border-radius: 20px;
      //     }
      //   }

      //   .name{
      //     // background-color: red;
      //     flex: 1;
          
      //     h3,p{
      //       margin: 0;
      //     }
      //     h3{
      //       color: #292D32;
      //       font-size: .9rem;
      //       font-weight: 500;
      //       // margin-bottom: 3px;
      //     }
      //     p{
      //       font-size: .65rem;
      //       color: rgba($color: #292D32, $alpha: .8);
      //     }
      //   }

      //   .arrow{
      //     display: flex;
      //     align-items: center;
      //     justify-content: center;
      //     height: 20px;
      //     width: 20px;
      //     border-radius: 20px;
      //     margin: 0;
      //   }
      // }
    }

    // ************************************ Search Wrapper

    .search-wrapper{
      display: flex;
      flex-direction: column-reverse;

      .wrapper{
        display:flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        

        .search-input{
          height: 20px;
          // width: 290px;
          flex: 1;
          border: none;
          border-radius: 30px;
          text-indent: 10px;
          padding: 10px;
          background-color: rgba(255, 255, 255, .6);
          width: 300px;
        }
    
        .circle{
          background-color: rgb(255, 255, 255,);
          width: 40px;
          height: 40px;
          // padding: 10px;
          border: none;
          border-radius: 30px;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          img{
            height: 40%;
            opacity: .5;
          }
        }
      }
    }
  }
}