
// ************* Mobile View


@media (min-width: 360px){
  .header-container{
    // border-bottom: solid 1px rgba(0, 0, 0, .3);
    padding-bottom: 20px;
    margin-bottom: 90px;

    // **************** Dashboard Wrapper

    .dashboard-wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      .dashboard{
        font-size: 1.7rem;
        font-weight: 500;
        margin: 0;
      }

      .bio-wrapper{
        background-color: rgba(255, 255, 255, .6);
        display: flex;
        height: 40px;
        width: 180px;
        border-radius: 40px;
        align-items: center;
        padding: 10px;
        justify-content: space-between;
        

        .picture{
          height: 40px;
          width: 40px;
          border-radius: 20px;

          .user-image{
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 20px;
          }
        }

        .name{
          width: 110px;
          
          h3,p{
            margin: 0;
          }
          h3{
            font-size: 1rem;
            margin-bottom: 3px;
          }
          p{
            font-size: .7rem;
          }
        }

        .arrow{
          display: flex;
          align-items: center;
          justify-content: center;
          // background-color: red;
          // background-color: rgba(255, 255, 255, .6);
          height: 20px;
          width: 20px;
          border-radius: 20px;
          margin: 0;
        }
      }
    }
    

    // ************************************ Search Wrapper

    .search-wrapper{
      display: flex;
      flex-direction: column-reverse;

      .wrapper{
        display:flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;

        .search-input{
          height: 30px;
          width: 290px;
          border: none;
          border-radius: 30px;
          text-indent: 20px;
          padding: 10px;
          background-color: rgba(255, 255, 255, .5);
        }
    
        .circle{
          background-color: rgb(255, 255, 255,);
          width: 30px;
          height: 30px;
          padding: 10px;
          border-radius: 30px;
          color: #fff;
        }
      }
    }
  }
}