@media (min-width: 368px) {
  .project-summary-container{

    .summary-wrapper{
      height: 30vh;
      background-color: rgba(255, 255, 255, .5);
      border-radius: 20px;
      padding: 20px;
      
  


      // ******************************* Project Caution Wrapper

      .caution-wrapper{
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 10px;
        justify-content: flex-end;

        img{
          height: 17px;
          mix-blend-mode: multiply;
        }

        p{
          margin: 0;
          font-size: .8rem;
        }
      }


      // ******************************** Scroll Side-ways


      .scroll-x{
        // background-color: green;
        overflow: scroll;

        .summary-header{
          display: flex;
          justify-content: space-between;
          align-items: center;
          overflow-x: scroll;
          margin-bottom: 20px;
          width: 200vw;
          // border: solid 1px rgb(179, 179, 179);
          border-radius: 30px;
          // padding: 0 5px;
          height: 50px;
  
          .title-wrapper{
            // background-color: rgb(255, 255, 255);
            // padding: 10px 17px;
            display: flex;
            align-items: center;
            border-radius: 20px;

      
            h3{
              font-size: 1rem;
              font-weight: 600;
              margin: 0;
            }
          }
  
          .button-wrapper{
            display: flex;
            overflow: hidden;
            gap: 20px;
            align-items: center;
  
            .selection{
              background-color: rgb(255, 255, 255);
              padding: 10px 17px;
              display: flex;
              gap: 15px;
              border-radius: 20px;
  
              p{
                margin: 0;
              }
            }
          }
        }
  
  
        // ********************************** Project Summary Body
  
        .summary-body{
          // background-color: red;
          overflow: hidden;
          // background-color: green;
          width: 200vw;
          height: 200px;
  
          .table{
            width: 200vw;
            border-collapse: collapse;
            // background-color: red;


            // *********************************** Table Header

            .table-header-wrapper{
              text-align: left;
              font-weight: 300;
              border-bottom: solid 1px rgb(179, 179, 179);
            }

            .table-header-wrapper{
              border-collapse: collapse;
              .header{
                border-collapse: collapse;

                .header-item{
                  height: 30px;
                  border-collapse: collapse;

                  p{
                    margin: 0;
                  }
                }

                .header-item:last-child{
                  text-align: right;
                }
              }
            }


            // ************************************* Table Body

            .table-body-wrapper{
              // background-color: green;

              .body{
                padding: 20px 0;
              }
            }


          }
        }

      }
    }
  }
}